*{
    box-sizing: border-box;
    padding: 0;
    border: 0;
    margin: 0;
    list-style: none;
}
body, td, th {
    box-sizing: border-box;
    padding: 0;
    border: 0;
    margin: 0;
    font-family: 微软雅黑;
    font-size: 16px;
    color: #000;
}
table{
    border: 0;
    border-spacing: 0;
}
a:link {
    color: #333;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: #333;
}

a:hover {
    text-decoration: none;
    color: #000;
}

a:active {
    text-decoration: none;
    color: #333;
}

a {
    font-family: 微软雅黑;
    font-size: 16px;
}


body{
    display: flex;
    flex-direction: column;
}
.bannerbox{
    width: 100%;
    /*max-width: 1920px;*/
    /*min-width: 1200px;*/
    height: auto;
    display: flex;
}
.nav{
    position: fixed;
    z-index: 999;
    width: 85%;
    height: 100px;
    top: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.section1{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.biaoti{
    width: 90%;
    margin: 20px auto;
}
.section1 .section1U{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.section1 .section1U .section1UL{
    width: 30%;
    display: flex;
}
.section1 .section1U .section1UL a{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.section1 .section1U .section1UL a img {
    width: 100%;
    /*border-radius: 50%;*/
}
.section1 .section1U .section1UL a span {
    margin: 20px auto;
    color: #000;
}
.section1img{
    width: 90%;
    margin: 20px auto;

}
.section1img img{
    width: 100%;
}
.section2{
    width: 90%;
    margin:0 auto;
    display: flex;
    flex-direction: column;
}
.wrapper {
    width: 90%;
    height: 300px;
    position: relative;
    margin: 40px auto;
    background: #ccc;
    overflow: hidden;
}
.box {
    width: 300px;
    height: 300px;
    position: absolute;
    background: red;
    font-size: 25px;
    line-height: 300px;
    text-align: center;
}
.box:nth-child(odd) {
    background: #f8f8f8;
}
.box:nth-child(even) {
    background: #eee;
}
.boxes {
    position: relative;
    left: -100px;
}

.section3{
    width: 100%;
    /*min-width: 1224px;*/
}
.section3 table{
    width: 100%;
}
.section3 table td{
    color: #ffffff;
}
.section4{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.section4 .section4U{
    display: flex;
    flex-direction: column;
}
.section4 .section4U .section4UL{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.section4UL .section4ULL{
    width: 50%;
    height: 357px;
    padding: 0 20px;
    border: 2px solid rgba(255,237,227,1);
    display: flex;
    align-items: center;
    justify-content: center;
}
.section4UL .section4ULR{
    box-sizing: border-box;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;

}
@media screen and (max-width:1100px ){
    .section4 .section4U .section4UL .section4ULR img{
        width:70%;
    }
}
.section4UL .section4ULR img{
    border-radius: 50%;
    width:49%;
    height: 50%;
}

.section5{
    width: 100%;
    height: 500px;
    /*min-width: 1224px;*/
    display: flex;
    flex-direction: column;
}

.section5box{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    background: rgb(255,229,249);

}
.section5boxT{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    font-size: 30px;

}
.section5boxC{
    display: flex;
    /*flex-direction: column;*/
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    /*height: 350px;*/
    /*background: rgb(255,229,249);*/
}
/*.section5T{*/
/*    box-sizing: border-box;*/
/*    width: 100%;*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/*    margin: 0 auto;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    padding: 0 5%;*/
/*}*/
/*.section5TL,.section5TR{*/
/*    box-sizing: border-box;*/
/*    width: 50%;*/
/*    padding: 20px;*/
/*}*/
/*.section5TL img,.section5TR img{*/
/*    width: 100%;*/
/*}*/
.section5More{
    position: absolute;
    bottom: -50px;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section6{
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.section6U{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section6UL{
    width: 100%;
}
.section6ULL{
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
}
.section6ULL img{
    width: 100%;
}
.section7{
    width: 100%;
    margin: 0 auto;
    padding: 30px;

}
.section7Btn{
    margin: 0 auto;
    width: 180px;
    height: 50px;
    border-radius: 50px;
    background: #FFF4E5;
    box-shadow: 5px 5px 5px 1px #6E6C67;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}
.section8{
    width: 90%;
    margin: 0 auto;
}
.section8U{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section8UL{
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.section8UL1{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.section8UL1 img{
    width: 100%;
}
.section8UL2{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section8UL2 img{
    width: 100%;
}
.section9{
    width: 90%;
    margin: 0 auto;
}
.section9img{
    width: 90%;
    margin: 0 auto;
}
.section9img img{
    width: 100%;
}
.footer{
    box-sizing: border-box;
    width: 100%;
    /*min-width: 1224px;*/
    margin: 0;
    /*padding: 20px 0;*/
}
.footer .footer1{
 width: 100%;
}
.footer .footer1 tbody {
    width: 90%;
    margin: 0 auto;
}